<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks from code.mu</title>
    <script src="https://ru.vuejs.org/js/vue.js"></script>
</head>
<body>
    <h2 align="center">2.Основы работы с фреймворком Vue</h2>
        <h3>Задача 1</h3>
        <p>
            Пусть в data хранится хранится имя и фамилия пользователя.
            Выведите данные пользователя на экран в каком-нибудь абзаце.
        </p>
        <h3>Ответ:</h3>
        <p id="s2t1"> <!-- section 2 task 1 -->
            {{ name }}
            {{ surname }}
        </p>
        <script src="2.1.js"></script>

        <h3>Задача 2</h3>
        <p>
            Пусть в data хранится число num=5.
            Выведите квадрат этого числа.
        </p>
        <h3>Ответ:</h3>
        <p id="s2t2">
            {{ num * num }}
        </p>
        <script src="2.2.js"></script>
        
        <h3>Задача 3</h3>
        <p>
            Пусть в data хранятся числа num1=1, num2=2, num3=3.
            Выведите сумму этих чисел.
        </p>
        <h3>Ответ:</h3>
        <p id="s2t3">
            {{ num1 + num2 + num3 }}
        </p>
        <script src="2.3.js"></script>
        
        <h3>Задача 4</h3>
        <p>
            Пусть в data хранится следующий массив: [1,2,3].
            Выведите сумму элементов этого массива.
        </p>
        <h3>Ответ:</h3>
        <p id="s2t4">
            {{ arr.reduce((sum, current) => sum + current, 0) }}
        </p>
        <script src="2.4.js"></script>
        
        <h3>Задача 5</h3>
        <p>
            Пусть в data хранится следующий объект: obj: {a: 1, b: 2, c: 3}.
            Выведите сумму элементов этого объекта.
        </p>
        <h3>Ответ:</h3>
        <p id="s2t5">
            {{ Object.values(obj).reduce((sum, current) => sum + current, 0) }}
        </p>
        <script src="2.5.js"></script>

    
    <h2 align="center">3.Работа с циклами в фреймворке Vue</h2>
        <h3>Задача 1</h3>
        <p>
            Пусть в data хранится следующий массив: {1, 2, 3, 4, 5}.
            Выведите на экран элементы этого массива в виде списка ul. 
        </p>
        <h3>Ответ:</h3>
        <div id="s3t1">
            <ul>
                <li v-for="elem in arr"> {{ elem }} </li>
            </ul>
        </div>
        <script src="3.1.js"></script>

        <h3>Задачи 2-3</h3>
        <p>
            Дан массив имен ['user1', 'user2', 'user3'].
            Выведите каждый элемент этого массива в отдельной li в списке ul так, чтобы в каждой li кроме элемента массива еще и стоял его порядковый номер(+1) в массиве.
        </p>
        <h3>Ответ:</h3>
        <div id="s3t2">
            <ul>
                <li v-for="(elem,key) in arr"> {{ elem }} - {{ key + 1 }} </li>
            </ul>
        </div>
        <script src="3.2.js"></script>

        <h3>Задачи 4-5-6-7</h3>
        <p>
            Дан следующий объект: { employee1: '100$', employee2: '200$', employee3: '300$', }.
            Выведите зарплаты работников в виде списка ul.
        </p>
        <h3>Ответ:</h3>
        <div id="s3t4">
            <ul>
                <li v-for="(salary,employee,idx) in workers"> {{ employee }} - {{ salary }} - {{ idx + 1 }} </li>
            </ul>
        </div>
        <script src="3.4.js"></script>

        <h3>Задача 8</h3>
        <p>
            Дан следующий массив:
            <pre>
                hrefs: [
                    {href: '1.html', text: 'ссылка 1'},
                    {href: '2.html', text: 'ссылка 2'},
                    {href: '3.html', text: 'ссылка 3'},
                ]
            </pre>
            Выведите на экран ссылки в виде списка ul. 
        </p>
        <h3>Ответ:</h3>
        <div id="s3t8">
            <ul>
                <li v-for="link in hrefs"> <a v-bind:href="link.href"> {{ link.text }} </a> </li>
            </ul>
        </div>
        <script src="3.8.js"></script>

        <h3>Задача 9</h3>
        <p>
            Дан массив с продуктами (названия, цены за штуку и количество).
            <pre>
                products: [
                    {name: 'product1', price: 100, quantity: 5},
                    {name: 'product2', price: 200, quantity: 4},
                    {name: 'product3', price: 300, quantity: 3},
                ]
            </pre>
            Выведите названия, цены, количества и сумму (произведение цены и количества).
        </p>
        <h3>Ответ:</h3>
        <div id="s3t9">
            <ul>
                <li v-for="product in products"> {{ product.name }}, цена: {{ product.price }}, количество: {{ product.quantity }}, сумма: {{ product.quantity * product.price }} </li>
            </ul>
        </div>
        <script src="3.9.js"></script>
</body>
</html>