<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks from code.mu</title>
    <script src="https://ru.vuejs.org/js/vue.js"></script>
</head>
<body>
    <h2 align="center">2.Основы работы с фреймворком Vue</h2>
        <h3>Задача 1</h3>
        <p>
            Пусть в data хранится хранится имя и фамилия пользователя.
            Выведите данные пользователя на экран в каком-нибудь абзаце.
        </p>
        <h3>Ответ:</h3>
        <p id="s2t1"> <!-- section 2 task 1 -->
            {{ name }}
            {{ surname }}
        </p>
        <script src="2.1.js"></script>

        <h3>Задача 2</h3>
        <p>
            Пусть в data хранится число num=5.
            Выведите квадрат этого числа.
        </p>
        <h3>Ответ:</h3>
        <p id="s2t2">
            {{ num * num }}
        </p>
        <script src="2.2.js"></script>
        
        <h3>Задача 3</h3>
        <p>
            Пусть в data хранятся числа num1=1, num2=2, num3=3.
            Выведите сумму этих чисел.
        </p>
        <h3>Ответ:</h3>
        <p id="s2t3">
            {{ num1 + num2 + num3 }}
        </p>
        <script src="2.3.js"></script>
        
        <h3>Задача 4</h3>
        <p>
            Пусть в data хранится следующий массив: [1,2,3].
            Выведите сумму элементов этого массива.
        </p>
        <h3>Ответ:</h3>
        <p id="s2t4">
            {{ arr.reduce((sum, current) => sum + current, 0) }}
        </p>
        <script src="2.4.js"></script>
        
        <h3>Задача 5</h3>
        <p>
            Пусть в data хранится следующий объект: obj: {a: 1, b: 2, c: 3}.
            Выведите сумму элементов этого объекта.
        </p>
        <h3>Ответ:</h3>
        <p id="s2t5">
            {{ Object.values(obj).reduce((sum, current) => sum + current, 0) }}
        </p>
        <script src="2.5.js"></script>

    
    <h2 align="center">3.Работа с циклами в фреймворке Vue</h2>
        <h3>Задача 1</h3>
        <p>
            Пусть в data хранится следующий массив: {1, 2, 3, 4, 5}.
            Выведите на экран элементы этого массива в виде списка ul. 
        </p>
        <h3>Ответ:</h3>
        <div id="s3t1">
            <ul>
                <li v-for="elem in arr"> {{ elem }} </li>
            </ul>
        </div>
        <script src="3.1.js"></script>

        <h3>Задачи 2-3</h3>
        <p>
            Дан массив имен ['user1', 'user2', 'user3'].
            Выведите каждый элемент этого массива в отдельной li в списке ul так, чтобы в каждой li кроме элемента массива еще и стоял его порядковый номер(+1) в массиве.
        </p>
        <h3>Ответ:</h3>
        <div id="s3t2">
            <ul>
                <li v-for="(elem,key) in arr"> {{ elem }} - {{ key + 1 }} </li>
            </ul>
        </div>
        <script src="3.2.js"></script>

        <h3>Задачи 4-5-6-7</h3>
        <p>
            Дан следующий объект: { employee1: '100$', employee2: '200$', employee3: '300$', }.
            Выведите зарплаты работников в виде списка ul.
        </p>
        <h3>Ответ:</h3>
        <div id="s3t4">
            <ul>
                <li v-for="(salary,employee,idx) in workers"> {{ employee }} - {{ salary }} - {{ idx + 1 }} </li>
            </ul>
        </div>
        <script src="3.4.js"></script>

        <h3>Задача 8</h3>
        <p>
            Дан следующий массив:
            <pre>
                hrefs: [
                    {href: '1.html', text: 'ссылка 1'},
                    {href: '2.html', text: 'ссылка 2'},
                    {href: '3.html', text: 'ссылка 3'},
                ]
            </pre>
            Выведите на экран ссылки в виде списка ul. 
        </p>
        <h3>Ответ:</h3>
        <div id="s3t8">
            <ul>
                <li v-for="link in hrefs"> <a :href="link.href"> {{ link.text }} </a> </li>
            </ul>
        </div>
        <script src="3.8.js"></script>

        <h3>Задача 9</h3>
        <p>
            Дан массив с продуктами (названия, цены за штуку и количество).
            <pre>
                products: [
                    {name: 'product1', price: 100, quantity: 5},
                    {name: 'product2', price: 200, quantity: 4},
                    {name: 'product3', price: 300, quantity: 3},
                ]
            </pre>
            Выведите названия, цены, количества и сумму (произведение цены и количества).
        </p>
        <h3>Ответ:</h3>
        <div id="s3t9">
            <ul>
                <li v-for="product in products"> {{ product.name }}, цена: {{ product.price }}, количество: {{ product.quantity }}, сумма: {{ product.quantity * product.price }} </li>
            </ul>
        </div>
        <script src="3.9.js"></script>

        <h3>Задача 10</h3>
        <p>
            Сформируйте список ul, выводя в каждой итерации цикла по 3 тега li. 
            Чтобы ничего не выдумывать, использую данные из предыдущей задачи
        </p>
        <h3>Ответ:</h3>
        <div id="s3t10">
            <ul>
                <template v-for="product in products">
                    <li> {{ product.name }} </li>
                    <li> {{ product.price }} </li>
                    <li> {{ product.quantity }} </li>
                </template>
            </ul>
        </div>
        <script src="3.10.js"></script>

    
        <h2 align="center">4.Работа с методами и событиями в фреймворке Vue</h2>
            <h3>Задача 1</h3>
            <p>
                Скопируйте код с учебника и убедитесь, что наш метод сработает сразу же после запуска кода.
                <pre>
                    methods: {
                        show: function() {
                            return (this.message); // выведет 'hello'
                        }
                    }
                </pre>
            </p>
            <h3>Ответ:</h3>
            <div id="s4t1">
                {{ show() }}
            </div>
            <script src="4.1.js"></script>
            
            <h3>Задача 2</h3>
            <p>
                В data хранятся 2 числа
                <pre>
                    data: {
                        num1: 1,
                        num2: 2,
                    }
                </pre>
                Сделайте метод, который при запуске кода выведет сумму наших чисел.
            </p>
            <h3>Ответ:</h3>
            <div id="s4t2">
                {{ sum() }}
            </div>
            <script src="4.2.js"></script>
            
            <h3>Задачи 3-4</h3>
            <p>
                Дана кнопка. В data дано свойство text, в котором хранится текст 'hello'.
                Сделайте так, чтобы по нажатию на кнопку алертом вывелся текст из свойства text. 
            </p>
            <h3>Ответ:</h3>
            <div id="s4t3">
                <button v-on:mousemove="show">Touch me</button>
            </div>
            <script src="4.3.js"></script>
            
            <h3>Задача 5</h3>
            <p>
                Пусть в data хранится следующее: 
                <pre>
                    data: {
                        num1: 1,
                        num2: 2,
                        num3: 3,
                    }
                </pre>
                Дана также кнопка. По нажатию на эту кнопку выведите алертом сумму свойств num1, num2 и num3. 
            </p>
            <h3>Ответ:</h3>
            <div id="s4t5">
                <button v-on:click="sum">Touch me</button>
            </div>
            <script src="4.5.js"></script>


            <h2 align="center">5.Реактивность в фреймворке Vue</h2>
            Любое изменение данных из data приводит к мгновенному изменению отображения этих данных на странице.
            Такое поведение Vue называется реактивность. Реактивность является основной фишкой фреймворков типа Vue.
            <h3>Задача 1</h3>
            <p>
                Дано свойство text, в котором хранится текст '12345'. 
                Выведите содержимое свойства text в каком-нибудь абзаце. Дана также кнопка. 
                Сделайте так, чтобы по нажатию на кнопку текст в нашем абзаце мгновенно поменялся с '12345' на 'abcde'.
            </p>
            <h3>Ответ:</h3>
            <div id="s5t1">
                {{ text }}
                <button v-on:click="changeMsg">Change message</button>
            </div>
            <script src="5.1.js"></script> 

            <h3>Задача 2</h3>
            <p>
                Дана кнопка. Дан массив. 
                Выведите элементы этого массива в виде списка ul. 
                Сделайте так, чтобы по нажатию на кнопку в конец этого списка добавился новый пункт с текстом '!!!'. 
            </p>
            <h3>Ответ:</h3>
            <div id="s5t2">
                <ul>
                    <li v-for="item in items"> {{ item }} </li>
                </ul>
                <button v-on:click="addItem">Add !!!</button>
            </div>
            <script src="5.2.js"></script> 

            <h3>Задачи 3-4</h3>
            <p>
                Дана кнопка. Дан массив. 
                Выведите элементы этого массива в виде списка ul. 
                Сделайте так, чтобы каждый раз по нажатию на кнопку из массива удалялся первый элемент и соответствующие изменения мгновенно отображались в нашем списке ul. 
            </p>
            <h3>Ответ:</h3>
            <div id="s5t3">
                <ul>
                    <li v-for="item in items"> {{ item }} </li>
                </ul>
                <button v-on:click="popItem">Pop Item</button>
            </div>
            <script src="5.3.js"></script> 
            
            Vue поддерживает следующий список методов, для работы с массивами: push, pop, shift, unshift, splice, sort, reverse. 
            Изменения, сделанные с помощью этих методов отслеживаются Vue и сразу видны на странице. 
            <h3>Задача 5</h3>
            <p>
                Дана кнопка. Дан массив. Выведите элементы этого массива в виде списка ul. 
                Сделайте так, чтобы по нажатию на кнопку пункты списка стали в обратном порядке. 
            </p>
            <h3>Ответ:</h3>
            <div id="s5t5">
                <ul>
                    <li v-for="item in items"> {{ item }} </li>
                </ul>
                <button v-on:click="reverse">reverse</button>
            </div>
            <script src="5.5.js"></script> 
             
            <h3>Задача 6</h3>
            <p>
                Дана кнопка. Дан массив. Выведите элементы этого массива в виде списка ul. 
                Сделайте так, чтобы по нажатию на кнопку пункты списка отсортировались в алфавитном порядке. 
            </p>
            <h3>Ответ:</h3>
            <div id="s5t6">
                <ul>
                    <li v-for="item in items"> {{ item }} </li>
                </ul>
                <button v-on:click="sort">sort</button>
            </div>
            <script src="5.6.js"></script> 

            Существуют также методы, не вносящие изменений в изначальный массив, а возвращающие новый массив. 
            Это методы slice, concat, filter.
            При работе с такими методами, вы можете просто заменить старый массив новым: 
            items = items.concat([1, 2, 3]);
            <h3>Задача 7</h3>
            <p>
                Дана кнопка. Дан массив с числами. Выведите элементы этого массива в виде списка ul. 
                Сделайте так, чтобы по нажатию на кнопку на экране остались только те элементы, число в которых больше 0, но меньше 10.
                Для решения используйте метод filter. 
            </p>
            <h3>Ответ:</h3>
            <div id="s5t7">
                <ul>
                    <li v-for="item in items"> {{ item }} </li>
                </ul>
                <button v-on:click="filter">filter</button>
            </div>
            <script src="5.7.js"></script> 
            Из-за ограничений JavaScript, Vue не способен заметить следующие изменения в массиве: прямую установку элемента по индексу: <i>items[ключ] = новоеЗначение</i> и явное изменение длины массива, например: <i>items.length = новаяДлина</i>. 


            <h2 align="center">6.Продвинутая работа с методами и событиями в фреймворке Vue</h2>
            <h3>Задача 1</h3>
            <p>
                Пусть в data в свойстве text есть какой-то текст. Выведите этот текст в каком-нибудь абзаце. Пусть дана также кнопка. 
                Сделайте так, чтобы по нажатию на эту кнопку, первая и последняя буквы текста стали заглавными.
            </p>
            <p>Сделайте для этого две вспомогательных функции. Пусть первая функция upperCaseFirst параметром принимает текст и возвращает этот текст с заглавной первой буквой, а вторая функция upperCaseLast пусть тоже самое делает для последней буквы текста. </p>
            <h3>Ответ:</h3>
            <div id="s6t1">
                <p>
                    {{ text }}
                </p>
                <button v-on:click="firstLastUpperCase">First and last upper case</button>
            </div>
            <script src="6.1.js"></script> 

            <h3>Задача 2</h3>
            <p>
                Сделайте метод sayHello, который параметром будет принимать имя пользователя и выводить его на экран. Пример: sayHello('Вася') должно вывести на экран 'Привет, Вася!'. Сделайте две кнопки. С помощью метода sayHello сделайте так, чтобы по нажатию на первую кнопку выводилось 'Привет, Вася!', а на вторую 'Привет, Петя!'. 
            </p>
            <h3>Ответ:</h3>
            <div id="s6t2">
                <button v-on:click="sayHello('Вася')">Vasya</button>
                <button v-on:click="sayHello('Петя')">Petya</button>
            </div>
            <script src="6.2.js"></script> 

            <h3>Задача 3</h3>
            <p>
                Дан массив. Выведите элементы этого массива в виде списка ul. Сделайте так, чтобы по нажатию на любую li она удалялась из списка. 
            </p>
            <h3>Ответ:</h3>
            <div id="s6t3">
                <ul>
                    <li style="cursor: pointer;" v-for="(item, index) in items" v-on:click="removeItem(index)"> {{ item }} </li>
                </ul>
            </div>
            <script src="6.3.js"></script> 

            <h3>Задача 4</h3>
            <p>
                Дан массив с числами. Выведите элементы этого массива в виде списка ul. Сделайте так, чтобы по нажатию на любую li в ней появлялся квадрат стоящего в ней числа. 
            </p>
            <h3>Ответ:</h3>
            <div id="s6t4">
                <ul>
                    <li style="cursor: pointer;" v-for="(item, index) in items" v-on:click="squareItem(index)"> {{ item }} </li>
                </ul>
            </div>
            <script src="6.4.js"></script> 

            <h3>Задача 5</h3>
            <p>
                Дан массив. Выведите элементы этого массива в виде списка ul. Сделайте так, чтобы по нажатию на любую li ей в конец добавлялся '!'. 
            </p>
            <h3>Ответ:</h3>
            <div id="s6t5">
                <ul>
                    <li style="cursor: pointer;" v-for="(item, index) in items" v-on:click="addExclamationMark(index)"> {{ item }} </li>
                </ul>
            </div>
            <script src="6.5.js"></script> 
            

            <h2 align="center">7.Работа с условиями в фреймворке Vue</h2>
            <h3>Задача 1</h3>
            <p>
                Пусть в data хранится свойство show. Пусть у вас также есть два абзаца. 
                Сделайте так, чтобы первый абзац был показан на экране, если свойство show равно true, а второй абзац, наоборот, показан, если свойство show равно false. 
            </p>
            <h3>Ответ:</h3>
            <div id="s7t1">
                <p v-if="show">
                    First paragraph
                </p>
                <p v-if="!show">
                    Second paragraph
                </p>
            </div>
            <script src="7.1.js"></script> 
            
            <h3>Задачи 2-3-4</h3>
            <p>
                Пусть в data хранится следующее: 
                <pre>
                    data: {
                        showName: true,
                        name: 'Вася'
                    }
                </pre>
                Выведите в абзаце значение свойства name. Покажите абзац, если свойство showName равно true, и скройте, если оно равно false. 
            </p>
            <h3>Ответ:</h3>
            <div id="s7t2">
                <p v-if="showName">
                    {{ name }}
                </p>
                <button v-on:click="hideParagraph">Hide Paragraph</button>
                <button v-on:click="showParagraph">Show Paragraph</button>
            </div>
            <script src="7.2.js"></script> 

</body>
</html>